ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	display: inline;
}

li {
	text-decoration: none;
	display: inline;
	float: left;	
}

.badge {
	width: 250px;
	height: 300px;
	text-align: center;
    white-space: normal !important;
    margin: 10px !important;    
}

b{
	color: black;
}