ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
	display: inline-block !important;	
}

li {
	text-decoration: none;
	display: inline-block !important;	
	text-align: center;
	display: inline;
	line-height: -1px !important;

}

.badge {
	width: 250px;
	height: 300px;	
	text-align: center;
    white-space: normal !important;
    margin: 10px !important;    
    display: inline-block !important;    
}

b{
	color: black;
}