<!DOCTYPE html>
<html lang="en">
<head>
	<title>CoderWall Badges</title>
	<meta charset="utf-8"/>
	<link rel="stylesheet" type="text/css" href="css/headers.css" />
    <link rel="stylesheet" type="text/css" href="css/lists.css" />
    <link rel="stylesheet" type="text/css" href="css/input_areas.css" />
	<link rel="stylesheet" type="text/css" href="css/progress_activity.css" />
    <link rel="stylesheet" type="text/css" href="css/app.css" />
</head>
<body>
	<section role="region" id="list-view">
        <header>
            <menu type="toolbar">
                <button id="settings-btn"><span class="icon icon-settings">settings</span>
                </button>
            </menu>
            
		<h1>CoderWall</h1>

        </header>

        <section id="badges" data-type="list">                
            
        </section>
        
    </section>
        
    <section role="region" id="settings-view" class="skin-organic">
        <header>
            <menu type="toolbar">
                <button id="search">Go</button>
            </menu>
            
		<h1>Search</h1>
		
        </header>
        <article>
            <form>
                <p>
                    <input id="username" type="text" placeholder="username">
                    <button id="btnreset" type="reset">Clear</button>                        
                </p>                    
            </form>
        </article>
    </section>

<!-- js -->
<script src="js/jquery-1.11.1.min.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/data.js"></script>
<script src="js/app.js"></script>

<script id="template" type="text/template">
	<% _.each(badge, function(b) { %>
		<li>
			<aside class="pack-end">
				<img alt="placeholder" src="<%= b.badge %>">
			</aside>
			<a href="#">
				<p><strong><%= b.name %></strong></p>
			</a>
		</li>
	<% }) %>
</script>

</body>
</html>
